@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Noto+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #2f2841;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000050;
    width: 500px;
    overflow: hidden;
}
.header{
    background-color: eee;
    padding: 20px;
}
.form{
    padding: 20px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    margin-bottom: 5px;
    display: inline-block;
}
.form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    outline: none;
}
.form-control i{
    position: absolute;
    top: 45%;
    right: 10px;
    visibility: hidden;
}

/*Efeitos do input*/
.form-control.success input{
    border-color: #09d5e4;
}
.form-control.error input{
    border-color: #e74c3c;
}
.form-control.success i.fa-check-circle{
    visibility: visible;
    color: #09d5e4;
}
.form-control.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}
/*Fim*/
.form-control small{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.showsenha{
    margin: 10px 0px;
    color: #fff;
    font-size: 10pt;
    outline: none;
    border: none;
}
.btn{
    border: 2px solid #ff8800; 
    color: #000;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}