@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Noto+Sans:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    padding: 0;
    margin: 0%;
    background-color: darkslategrey;
    font-family: 'Noto Sans', sans-serif;
    /* box-sizing: border-box; */
    overflow: hidden;
}

.corpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.area-refeicoes {
    height: 45%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refeicao {
    border-radius: 15px;
    margin: 10px;
    height: 25vh;
    width: 30vw;
    background-color: beige;
    box-shadow: 0px 10px 40px #00000090;
    /* display:    flex ; */
    justify-content: center;
    align-items: center;
}
.titulo-refeicao { 
    font-family: 'Acme', sans-serif;
    color: rgb(141, 54, 23);
    display: flex;
    justify-content: center;
    background-color: beige;
    font-size: 30px;
    font-weight: bolder;
}






































/* .curso:hover{ */
    /* height: 30vh; */
    /* width: 35vw; */
    /* transition: 0.8s; */
    /* transform:scale(105%) */
    /* box-shadow: 0px 20px 60px #00000090; */
    /* transform: scale(108%); */
    /* transform: translate(0, -20px); */
/* } */

/* .imagem-cursoIMG { */
    /* display:flex; */
    /* justify-items: center; */
    /* width: 360px; */
    /* height: 180px; */
/* } */
/*  */
/* .titulo-curso { */
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: beige; */
    /* font-size: 30px; */
    /* font-weight: bolder; */
/* } */
/*  */
/* .imagem-curso { */
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: beige; */
/* } */